<meta http-equiv="X-UA-Compatible" content="ie=edge"><!-- 避免IE使用兼容模式 -->
<meta name="screen-orientation" content="portrait"><!-- UC强制竖屏 -->
<meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->
<meta name="apple-mobile-web-app-capable" content="no"><!-- 苹果手机web应用是否全屏显示 -->
<meta name="format-detection" content="telephone=no,email=no"><!-- 禁用自动识别页面中的电话号码,邮箱地址 -->
<meta name="x5-fullscreen" content="true"><!-- QQ浏览器 全屏模式 -->
<meta name="x5-page-mode" content="app"><!-- QQ浏览器 应用模式 -->
<meta name="full-screen" content="yes"><!-- UC浏览器 全屏模式 -->
<meta name="browsermode" content="application"><!-- UC浏览器 应用模式 -->
<meta name="HandheldFriendly" content="true"><!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
<meta name="MobileOptimized" content="320"><!-- 微软的老式浏览器 -->
<meta name="msapplication-tap-highlight" content="no"><!-- windows phone 点击无高光 -->
<meta name="wap-font-scale" content="no"><!-- 安卓 UC 浏览器字体渲染变大问题 -->
{#<meta name="applicable-device" content="pc,mobile"><!-- 让百度等搜索引擎知道页面同时适合在移动设备和PC上进行浏览 有重定向副作用 -->#}
<meta name="apple-mobile-web-app-capable" content="yes" /><!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。-->
<meta name="apple-mobile-web-app-status-bar-style" content="black" /><!-- 当启动webapp功能时，显示手机信号、时间、电池的顶部导航栏的颜色 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><!-- viewport -->