<meta http-equiv="X-UA-Compatible" content="ie=edge"><!-- 避免IE使用兼容模式 -->
<meta name="format-detection" content="telephone=no,email=no"><!-- 禁用自动识别页面中的电话号码,邮箱地址 -->
<meta name="MobileOptimized" content="320"><!-- 微软的老式浏览器 -->
<meta name="msapplication-tap-highlight" content="no"><!-- windows phone 点击无高光 -->
{#<meta name="applicable-device" content="pc,mobile"><!-- 让百度等搜索引擎知道页面同时适合在移动设备和PC上进行浏览 有重定向副作用 -->#}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><!-- viewport -->