$color-site: #f14118;
$color-orange: #f60;
$color-blue: #26a8ff;
$color-yellow:#f90;
$color-font: #333;
$color-fontLight: #666;
$color-fontHolder: #ccc;
$color-red: #fb2a35;
$color-border: #e6e6e6;
$color-boxShadow: #e1e1e1;
$color-white: #f8f8f8;